<section id="regalos" class="bg-cover bg-center bg-no-repeat min-h-screen h-[100svh] bg-[url('../public/4.jpg')] bg-gray-400 bg-blend-multiply flex flex-col justify-between">
    <div class="px-4 mx-auto max-w-screen-xl text-center">
      <h1 #animatedTitle class="text-7xl font-extrabold text-white yellowtail-regular text-center mt-9 mb-9">
        Regalos
      </h1>
        <div #animatedInfo>
            <h1 class="text-3xl font-extrabold text-white yellowtail-regular text-center mt-9 mb-9">Tu presencia y es mi mejor regalo, pero si gustas darme algo material, te agradeceria que el presente fuera en efectivo, ya que no podria viajar de regreso con sobre equipaje.</h1>
            <h1 class="text-3xl font-extrabold text-white yellowtail-regular text-center mt-9 mb-9">El dia del evento, en el lugar, habra sobres para si gustas, puedas darme el detalle.</h1>
        </div>
        <div #animatedDetails class="flex flex-col md:flex-row items-center justify-center m-4">
            <svg class="w-30 h-30 text-white items-center justify-center" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M20 7h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C10.4 2.842 8.949 2 7.5 2A3.5 3.5 0 0 0 4 5.5c.003.52.123 1.033.351 1.5H4a2 2 0 0 0-2 2v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V9a2 2 0 0 0-2-2Zm-9.942 0H7.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM13 14h-2v8h2v-8Zm-4 0H4v6a2 2 0 0 0 2 2h3v-8Zm6 0v8h3a2 2 0 0 0 2-2v-6h-5Z"/>
            </svg>
            <svg class="w-30 h-30 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"/>
                <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"/>
            </svg>
              
        </div>
          
    </div>
    
    <!-- BLOQUE PEGADO AL FONDO -->
    
</section>