
<section id="compromiso" class="mt-9 mb-9">
    <div class="text-center justify-center">
        <h1 class="text-7xl font-extrabold text-gray-600 tangerine-bold mt-9 mb-9">¡Acompáñame a celebrar mis quince años, una nueva etapa llena de sueños!</h1>
        <div class="bg-white px-4 py-6 flex justify-center" id="nuestra-historia">
            <img src="2.jpg" alt="Los novios" class="max-w-full h-auto rounded-xl shadow-md">
        </div>
        <p class="text-2xl font-bold text-gray-500 courgette-regular ms-6 mr-6">
            "En un día como hoy, 15 años atrás, llegó la niña de mi vida. Hoy se convierte en mujer, dejando atrás los juguetes de la infancia y empezando a tomar las riendas de su vida. Te invito a su celebración el 12 de Jul del 2025, nada nos haría más feliz que tu compañía."
        </p>
    </div> 
</section>  