<div class="bg-white px-4 py-6 justify-center items-center text-center" id="vestimenta">
    
    <h1 class="text-7xl font-extrabold text-gray-600 yellowtail-regular text-center mt-9 mb-9">Codigo de Vestimenta Formal</h1>
    <img src="dresscode.png" alt="Codigo de Vestimenta" class="max-w-full h-auto mb-2 mx-auto">
    <h1 class="text-4xl font-extrabold text-gray-500 yellowtail-regular text-center mt-9 mb-9">Quedan prohibidas vestimentas en color: Rojo, Tinto y Negro. Agradezco mucho tu apoyo y comprencion</h1>
</div>

<section id="padres">
    <h1 class="text-7xl font-extrabold text-gray-600 yellowtail-regular text-center mt-9 mr-3 ms-3">Padres y Damas</h1>
    <h2 class="text-3xl font-bold text-gray-500 yellowtail-regular text-center mr-3 ms-3">Gracias por habernos enseñado el valor de la familia y el amor.</h2>
    <div class="bg-white flex flex-col md:flex-row items-center justify-center m-4" id="nuestra-historia">
    
        <div class="w-full md:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm m-4 text-center">
            <img src="parents.png" class="h-10 mb-2 mx-auto" alt="Novia Logo" />
    
            <h5 class="mb-2 text-3xl font-semibold tracking-tight text-gray-900 yellowtail-regular">Padres</h5>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Francia Carrillo</p>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Marco</p>
        </div>
    
        <div class="w-full md:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm m-4 text-center">
            <img src="women.png" class="h-10 mb-2 mx-auto" alt="Novio Logo" />
            
            <h5 class="mb-2 text-3xl font-semibold tracking-tight text-gray-900 yellowtail-regular">Madrinas</h5>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Maria de la Paz Arellano Ruiz</p>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Ma del Carmen Adame Espinosa</p>
            <p class="mb-3 text-2xl font-normal text-gray-500 tangerine-bold">Norma Delgado Arellano</p>

        </div>
    
    </div>
</section>