/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-title-font {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.titulo-principal {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}

.caveat-navbar {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.text-border {
    text-shadow:
    -1px -1px 0 gray,
     1px -1px 0 gray,
    -1px  1px 0 gray,
     1px  1px 0 gray;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.text-x-large {
    font-size: x-large;
}

.text-xx-large {
    font-size: xx-large;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.caveat-500 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.caveat-xl {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}
